<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arun BS - Software Engineer IV</title>
    <style>

    </style>
</head>

<body>

    <div class="container">
        <div class="left-column">
            <div class="header">
                <h1>Arun BS</h1>
                <h2>Software Engineer IV</h2>
            </div>
            <div class="section">
                <h3 class="section-title">Personal Info</h3>
                <div class="details">
                    <p><strong>Address:</strong><br>26/b, 13th Cross Road, Pragathi Layout, Doddanekundi, Bangalore - 560037</p>
                    <p><strong>Phone:</strong><br>9739185574</p>
                    <p><strong>Email:</strong><br>bsarunmca@gmail.com</p>
                    <p><strong>Date of Birth:</strong><br>1989-10-30</p>
                    <p><strong>Portfolio:</strong><br><a href="https://bsarunmca.github.io/" class="link">bsarunmca.github.io</a></p>
                </div>
            </div>
            <div class="section">
                <h3 class="section-title">Achievements</h3>
                <div class="details">
                    <p><strong>Toshiba:</strong><br>
                        <ul>
                            <li>Worked at Japan for technical collaboration and establishing communication bridge between teams</li>
                            <li>Award-winning project in a Tech fare at Toshiba: WebPanel Style Guide. This project is a toolkit for developing the MFP UI.</li>
                        </ul>
                    </p>
                    <p><strong>Payoda:</strong><br>
                        <ul>
                            <li>SPOT award for New tool exploration and helping the team</li>
                            <li>SPOT award for fixing critical issue</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="section">
                <h3 class="section-title">Education</h3>
                <div class="details">
                    <p><strong>2010 - 2013</strong><br>Erode Arts and Science College<br>MCA - Master of Computer Application</p>
                    <p><strong>2006 - 2009</strong><br>Jairam Arts & Science College<br>BSc - Maths with Computer Application</p>
                </div>
            </div>
        </div>
        <div class="right-column">
            <div class="section">
                <h3 class="section-title">Skills</h3>
                <div class="details">
                    <ul class="skills-list">
                        <li>React JS, Redux</li>
                        <li>JavaScript, ES6</li>
                        <li>jQuery</li>
                        <li>NodeJS</li>
                        <li>Webpack</li>
                        <li>GCP</li>
                        <li>Angular JS (1.x)</li>
                        <li>AJAX, JSON</li>
                        <li>HTML, HTML5</li>
                        <li>CSS, CSS3, SCSS</li>
                        <li>Bootstrap, MUI</li>
                        <li>Lesshint, JSInspect</li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <h3 class="section-title">Experience</h3>
                <div class="details">
                    <p><strong>2020-12 - Present</strong><br>Software Engineer IV<br>NCR Corporation<br>Money Movement<br><em>Tech stack:</em> ReactJS, Redux, GCP, Webpack, HTML5, CSS3, JavaScript, JSON, MUI, GIT, etc...<br><em>Description:</
                    NCR Digital Banking is a provider of online banking software to banks and credit unions. Provide technical leadership and guidance to the frontend development team. Collaborate with product managers, UX/UI designers, and other stakeholders to define project requirements and timelines. Work closely with backend developers, QA engineers, and other cross-functional teams to ensure seamless integration and functionality of web applications. Identify opportunities for process improvement and implement best practices for frontend development.</p>
                </div>
            </div>
            <div class="section">
                <h3 class="section-title">Experience</h3>
                <div class="details">
                    <p><strong>2017-11 - 2020-12</strong><br>Senior Software Engineer<br>Toshiba Software India Private Limted<br>WebPanel<br><em>Tech stack:</em> ReactJS, Redux, ESLint, Python, HTML5, CSS3, jQuery, JavaScript<br><em>Description:</em>                        Toshiba Printer has an embedded browser for MFP (Multi Functional printers). My role is to develop UI for MFP. Traveled to Japan(Onsite) to discuss the architecture and planning for the upcoming modules and establish a communication
                        bridge between Toshiba MSM and Toshiba TSIP.</p>
                </div>
            </div>
            <div class="section">
                <h3 class="section-title">Experience</h3>
                <div class="details">
                    <p><strong>2015-12 - 2017-11</strong><br>Software Engineer<br>Payoda Technologies<br>Arista CVP<br><em>Tech stack:</em> HTML5, CSS3, Angularjs, jQuery, d3js, Requirejs, AJAX, JSON, NPM, Grunt, ESLint, Lesshint, JSInspect, Jasmine.<br><em>Description:</em>                        Built web components as per client's design. Involved in functional testing, cross-browser testing, and accessibility testing of web pages.</p>
                </div>
            </div>
            <div class="section">
                <h3 class="section-title">Experience</h3>
                <div class="details">
                    <p><strong>2014-07 - 2015-11</strong><br>Frontend Developer<br>Sakhatech Information Systems Pvt. Ltd<br>TNT, Tellofy<br><em>Tech stack:</em> CSS3, Bootstrap 3.0, JQuery, AJAX, JSON, Facebook API, Google plus API, Twiter API, & Linkedin
                        API
                        <br><em>Description:</em> Worked on multiple projects and held the same responsibilities as above.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>