#social_link {
    .link-btn {
        color: #fff;
        p {
            color: #000;
            display: none;
        }
        .btn:focus {
            outline: none !important;
            box-shadow: none;
        }
        display: flex;
        flex-direction: row;
    }
    .printResume {
        position: absolute;
        bottom: 100000000px;
    }
    /* override styles when printing */
    @media print {
        .printResume {
            position: relative;
            bottom: auto;
        }
    }
    @media (max-width: 700px) {
        .link-btn {
            place-content: space-around;
            p {
                display: block;
            }
            div {
                text-align: center;
            }
        }
    }
}